
%form#setbackground(action="/setbackground" method="POST")
	-heroclass=(Object.const_get(culture))
	%label
		Background:
	%select#background(name="background" onchange='setattributes(this)')
		-heroclass.backgrounds.keys.each do | key |
		-background = heroclass.backgrounds[key]
			%option{ :value => "#{key}", :title => "This is some title text.", :body => "#{background[:body]}", :heart => "#{background[:heart]}", :wits => "#{background[:wits]}"}
				= background[:name] + " (B:" + background[:body].to_s + " H:" + background[:heart].to_s + " W:" + background[:wits].to_s + ")"
	%input{:type=>"hidden", :value=>culture, :name=>:culture}
	%input#submit_button(type="submit" style="visibility:hidden")
	



