<table border=0 padding=5>
	<tr><td width=150>Name:</td><td><%= @b.name %></td></tr>
	<tr><td>Body:</td><td><%= @b.body %> (<%= @b.body + @b.f_body%>)</td></tr>
	<tr><td>Heart:</td><td><%= @b.heart %> (<%= @b.heart + @b.f_heart%>)</td></tr>
	<tr><td>Wits:</td><td><%= @b.wits %> (<%= @b.wits + @b.f_wits%>)</td></tr>
	<tr><td>Weapon:</td><td><%= @b.weapon.name%></td></tr>
	<tr><td>Armor:</td><td><%= @b.armor.name%></td></tr>
	<tr><td>Helm:</td><td><%= @b.helm.name%></td></tr>
	<tr><td>Shield:</td><td><%= @b.shield.name%></td></tr>
	<tr><td>Fatigue:</td><td><%= @b.totalFatigue%></td></tr>
	<tr><td>Endurance:</td><td><%= @b.endurance%></td></tr>
	<tr><td>Weapon Skill:</td><td><%= @b.weapon_skill%></td></tr>
</table>
	
